# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# pnpm
.pnpm-store

# testing
coverage
__snapshots__

# production
dist

# misc
.DS_Store
.env
.env.*

yarn-debug.log*
yarn-error.log*
